# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environment variables
.env
*.env

# Virtual environment
venv/
ENV/
env/
.venv/

# Python build files
*.py[cod]
*$py.class

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Django collected static files
staticfiles/
static/
build/

# IDE / Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Git
.git
